*.class
*.dep
*.html
*.pdf
*.zip
*.swp
*.iml
*.bin
*.log
.idea
.npm
.npm-install
.tsc
.tsc-compile
tests.zip
node_modules/
leaderboard/*.js
.DS_Store
.vscode
go.work
__pycache__/

# Scala
.metals
.scala-build
*.jar
